@model Category
@{
    ViewData["Title"] = Model.Name;
}

<script src="~/js/delete.js"></script>

<main>
    <section class="text-center">
        <h1 class="logo-text fade-in">@Model.Name</h1>
        <p class="welcome-text">@Model.Description</p>
    </section>

    @if (User.Identity.IsAuthenticated)
    {
        <section class="fade-in-up delay-200ms">
            <div class="form-container">
                <form class="comment-form" method="post" asp-action="Create" asp-controller="Topics" asp-route-categoryId="@Model.Id" asp-route-categoryName="@Model.Name">
                    <div class="form-header form-group">
                        <input type="text" name="title" class="form-input" placeholder="Название" />
                    </div>
                    <div class="form-group">
                        <textarea class="comment-textarea" name="content" placeholder="Комментарий. Макс. длина 15000"></textarea>
                    </div>
                    <div class="error-message" asp-validation-summary="All"></div>

                    <div class="form-footer">
                        <button type="submit" class="submit-button">Создать</button>
                    </div>
                </form>
            </div>
        </section>
    }

    <section class="topic-section fade-in-up delay-200ms">
        <div class="table-bordered">
            <ul class="navbar-nav flex-grow-1">
                @foreach (var top in @Model.Topics)
                {
                    <li>
                        <div>
                            <a href="/@Model.Name/@top.Id">@top.Title</a>
                            <strong>@top.User.Username</strong>
                            <lable class="welcome-text topic-time">@top.CreatedAt</lable>
                            @if (User.IsInRole("Admin"))
                            {
                                <form asp-controller="Admin" asp-action="UserDetails" asp-route-username="@top.User.Username" method="post" class="d-inline">
                                    <button type="submit" class="button-transparent">
                                        <svg class="info-button-circle" width="24" height="24" viewBox="0 0 24 24">
                                            <circle cx="12" cy="12" r="10" />
                                            <path d="M12 16V12M12 8H12.01" stroke="#ffff" stroke-width="2" stroke-linecap="round" />
                                        </svg>
                                    </button>
                                </form>
                            }
                            @if (@top.UserId == User.GetUserId() || User.IsInRole("Admin"))
                            {
                                <button type="button" class="button-transparent" onclick="deleteTopic(@top.Id, this)">
                                    <svg class="delete-button-circle" width="24" height="24" viewBox="0 0 24 24">
                                        <circle cx="12" cy="12" r="10" />
                                        <path d="M15 9L9 15M9 9L15 15" stroke="#ffff" stroke-width="2" stroke-linecap="round" />
                                    </svg>
                                </button>
                            }
                        </div>
                        <p>@top.Content</p>
                    </li>
                }
            </ul>
        </div>
    </section>
</main>