@model Category
@{
    ViewData["Title"] = Model.Name;
}

<main>
    <section class="text-center">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
        <a>Создать трэд</a>
    </section>

    @if (User.Identity.IsAuthenticated)
    {
        <section>
            <div>
                <form method="post" asp-action="Create" asp-controller="Topics">
                    <input type="hidden" name="categoryId" value="@Model.Id" />
                    <input type="hidden" name="categoryName" value="@Model.Name" />

                    <div>
                        <label>Название:</label>
                        <input name="title" />
                    </div>

                    <div>
                        <label>Комментарий:</label>
                        <textarea name="content"></textarea>
                    </div>

                    <div class="error-message" asp-validation-summary="All"></div>

                    <div>
                        <input type="submit" value="Создать" />
                    </div>
                </form>
            </div>
        </section>
    }

    <section>
        <div class="table-bordered">
            <ul class="navbar-nav flex-grow-1">
                @foreach (var top in @Model.Topics)
                {
                    <li>
                        <a href="/@Model.Name/@top.Id">@top.Title</a>
                        <p>@top.User.Username</p>
                        <p>@top.Content</p>
                    </li>
                }
            </ul>
        </div>
    </section>
</main>