@model Category
@{
    ViewData["Title"] = Model.Name;
}

<main>
    <section class="text-center">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
        <a>Создать трэд</a>
    </section>

    @if (User.Identity.IsAuthenticated)
    {
        <section>
            <div>
                <form method="post" asp-action="Create" asp-controller="Topics" asp-route-categoryId="@Model.Id" asp-route-categoryName="@Model.Name">
                    <div>
                        <label>Название:</label>
                        <input name="title" />
                    </div>

                    <div>
                        <label>Комментарий:</label>
                        <textarea name="content"></textarea>
                    </div>

                    <div class="error-message" asp-validation-summary="All"></div>

                    <div>
                        <input type="submit" value="Создать" />
                    </div>
                </form>
            </div>
        </section>
    }

    <section>
        <div class="table-bordered">
            <ul class="navbar-nav flex-grow-1">
                @foreach (var top in @Model.Topics)
                {
                    <li>
                        <div>
                            <a href="/@Model.Name/@top.Id">@top.Title</a>
                            <lable>@top.User.Username</lable>
                            @if (@top.UserId == User.GetUserId())
                            {
                                <form asp-controller="Topics" asp-action="Delete" asp-route-topicId="@top.Id" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                                </form>
                            }
                        </div>
                        <p>@top.Content</p>
                    </li>
                }
            </ul>
        </div>
    </section>
</main>