@model User?
@{
    ViewData["Title"] = "Информация о пользователях";
}

<script src="~/js/delete.js"></script>

<main>
    <h1 class="fade-in">Информация о пользователях</h1>

    <form class="fade-in-up" asp-controller="Admin" asp-action="UserDetails" method="post">
        <div class="margin-bottom">
            <input class="form-input" name="username" placeholder="Никнейм" />
            <div asp-validation-summary="All"></div>
        </div>
        <div>
            <button type="submit" class="submit-button">Найти</button>
        </div>
    </form>

    @if (@Model != null)
    {
        <section class="fade-in-up">
            <h2>Информация о пользователе <strong>@Model.Username</strong>:</h2>
            <div class="glass-card margin-bottom">
                @if (Model.Topics.Any())
                {
                    <h2>Посты:</h2>
                    <ul class="glass-card max-container">
                        @foreach (var topic in Model.Topics)
                        {
                            <li>
                                <strong>@topic.Title</strong>
                                <label class="welcome-text topic-time">@topic.CreatedAt</label>
                               @* <form asp-action="DeleteTopic" asp-route-topicId="@topic.Id" method="post" class="d-inline">
                                    <button type="submit" class="button-transparent" onclick="return confirm('Вы уверены, что хотите удалить этот элемент?')">
                                        <svg class="delete-button-circle" width="24" height="24" viewBox="0 0 24 24">
                                            <circle cx="12" cy="12" r="10" />
                                            <path d="M15 9L9 15M9 9L15 15" stroke="#ffff" stroke-width="2" stroke-linecap="round" />
                                        </svg>
                                    </button>
                                </form> *@
                                <button type="submit" class="button-transparent" onclick="deleteTopic(@topic.Id, this)">
                                    <svg class="delete-button-circle" width="24" height="24" viewBox="0 0 24 24">
                                        <circle cx="12" cy="12" r="10" />
                                        <path d="M15 9L9 15M9 9L15 15" stroke="#ffff" stroke-width="2" stroke-linecap="round" />
                                    </svg>
                                </button>
                                <p>@topic.Content</p>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>У пользователя нет постов.</p>
                }
            </div>
            <div class="glass-card margin-bottom">
                @if (Model.Posts.Any())
                {
                    <h2>Комментарии:</h2>
                    <ul class="glass-card max-container">
                        @foreach (var post in Model.Posts)
                        {
                            <li>
                                <div style="display: flex; gap: 5px;">
                                    <p>@post.Content</p>
                                    <label class="welcome-text topic-time" style="margin-top: 4px;">@post.CreatedAt</label>
                                    <button type="button" class="button-transparent" onclick="deletePost(@post.Id, this)">
                                        <svg class="delete-button-circle" width="24" height="24" viewBox="0 0 24 24">
                                            <circle cx="12" cy="12" r="10" />
                                            <path d="M15 9L9 15M9 9L15 15" stroke="#ffff" stroke-width="2" stroke-linecap="round" />
                                        </svg>
                                    </button>
                                </div>
                                <p style="margin-top: -15px;">@post.Likes.Count Понравилось</p>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>У пользователя нет комментариев.</p>
                }
            </div>
            <div class="glass-card margin-bottom">
                @if (Model.Likes.Any())
                {
                    <h2>Лайки:</h2>
                    <ul class="glass-card max-container">
                        @foreach (var like in Model.Likes)
                        {
                            <li>
                                <strong>@like.Post.User.Username</strong>
                                <label class="welcome-text topic-time" style="margin-top: 4px;">@like.Post.CreatedAt</label>
                                <form asp-controller="Admin" asp-action="UserDetails" asp-route-username="@like.Post.User.Username" method="post" class="d-inline">
                                    <button type="submit" class="button-transparent">
                                        <svg class="info-button-circle" width="24" height="24" viewBox="0 0 24 24">
                                            <circle cx="12" cy="12" r="10" />
                                            <path d="M12 16V12M12 8H12.01" stroke="#ffff" stroke-width="2" stroke-linecap="round" />
                                        </svg>
                                    </button>
                                </form>
                                <form asp-action="DeletePost" asp-route-postId="@like.Post.Id" method="post" class="d-inline">
                                    <button type="submit" class="button-transparent" onclick="return confirm('Вы уверены, что хотите удалить этот элемент?')">
                                        <svg class="delete-button-circle" width="24" height="24" viewBox="0 0 24 24">
                                            <circle cx="12" cy="12" r="10" />
                                            <path d="M15 9L9 15M9 9L15 15" stroke="#ffff" stroke-width="2" stroke-linecap="round" />
                                        </svg>
                                    </button>
                                </form>
                                <p>@like.Post.Content</p>

                                <p style="margin-top: -15px;">@like.Post.Likes.Count Понравилось</p>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>У пользователя нет лайков.</p>
                }
            </div>
        </section>
    }
</main>