@model Topic
@{
    ViewData["Title"] = Model.Title;
}
<main>
    <section class="text-center">
        <h1>@Model.Title</h1>
        <p>@Model.Content</p>
        <p>@Model.User.Username</p>
        <p>@Model.Posts.Count</p>
    </section>
    <section>
        <div class="table-bordered">
            <ul class="navbar-nav flex-grow-1">
                @foreach (var post in @Model.Posts)
                {
                    <li>
                        <p>@post.Content</p>
                        <p>Автор: @post.User.Username</p>
                        <p>Лайки: @post.Likes.Count</p>

                        <form asp-controller="Posts" asp-action="Like" asp-route-postId="@post.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-primary">Лайкнуть</button>
                        </form>
                    </li>
                }
            </ul>
        </div>
    </section>
</main>
@if (User.Identity.IsAuthenticated)
{
    <footer>
        <section>
            <div>
                <form method="post" asp-action="Comment" asp-controller="Posts" asp-route-topicId="@Model.Id" asp-route-categoryName="@Model.Category.Name">
                    <div>
                        <label>Комментарий:</label>
                        <textarea name="content"></textarea>
                        <div class="error-message" asp-validation-summary="All"></div>
                    </div>

                    <div>
                        <input type="submit" value="Создать" />
                    </div>
                </form>
            </div>
        </section>
    </footer>
}
