@model Topic
@{
    ViewData["Title"] = Model.Title;
}
<main>
    <section class="fade-in-up">
        <div>
            <label><strong>@Model.User.Username</strong></label>
            <label class="welcome-text topic-time">@Model.CreatedAt</label>
            @if (User.IsInRole("Admin"))
            {
                <form asp-controller="Admin" asp-action="UserDetails" asp-route-username="@Model.User.Username" method="post" class="d-inline">
                    <button type="submit" class="button-transparent">
                        <svg class="info-button-circle" width="24" height="24" viewBox="0 0 24 24">
                            <circle cx="12" cy="12" r="10" />
                            <path d="M12 16V12M12 8H12.01" stroke="#ffff" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>
                </form>
            }
        </div>
        <h1 class="topic-title">@Model.Title</h1>
        <p>@Model.Content</p>
    </section>
    @if (User.Identity.IsAuthenticated)
    {
        <section class="fade-in-up delay-200ms">
            <div class="form-container">
                <form class="comment-form" method="post" asp-action="Comment" asp-controller="Posts" asp-route-topicId="@Model.Id" asp-route-categoryName="@Model.Category.Name">
                    <div class=" form-group">
                        <textarea class="comment-textarea" name="content" placeholder="Комментарий. Макс. длина 15000"></textarea>
                    </div>
                    <div class="error-message" asp-validation-summary="All"></div>

                    <div class="form-footer">
                        <button type="submit" class="submit-button">Отправить</button>
                    </div>
                </form>
            </div>
        </section>
    }
    <section class="topic-section fade-in-up">
        <div class="table-bordered">
            <ul class="navbar-nav flex-grow-1">
                @foreach (var post in @Model.Posts)
                {
                    <li>
                        <strong>@post.User.Username</strong>
                        <label class="welcome-text topic-time">@post.CreatedAt</label>
                        @if (User.IsInRole("Admin"))
                        {
                            <form asp-controller="Admin" asp-action="UserDetails" asp-route-username="@post.User.Username" method="post" class="d-inline">
                                <button type="submit" class="button-transparent">
                                    <svg class="info-button-circle" width="24" height="24" viewBox="0 0 24 24">
                                        <circle cx="12" cy="12" r="10" />
                                        <path d="M12 16V12M12 8H12.01" stroke="#ffff" stroke-width="2" stroke-linecap="round" />
                                    </svg>
                                </button>
                            </form>
                        }
                        @if (@post.UserId == User.GetUserId() || User.IsInRole("Admin"))
                        {
                            <form asp-controller="Posts" asp-action="Delete" asp-route-postId="@post.Id" method="post" class="d-inline">
                                <button type="submit" class="button-transparent" onclick="return confirm('Вы уверены, что хотите удалить этот элемент?')">
                                    <svg class="delete-button-circle" width="24" height="24" viewBox="0 0 24 24">
                                        <circle cx="12" cy="12" r="10" />
                                        <path d="M15 9L9 15M9 9L15 15" stroke="#ffff" stroke-width="2" stroke-linecap="round" />
                                    </svg>
                                </button>
                            </form>
                        }
                        <p>@post.Content</p>
                        <form asp-controller="Posts" asp-action="Like" asp-route-postId="@post.Id" method="post" class="d-inline">
                            <button type="submit" class="submit-button">Понравилось @post.Likes.Count</button>
                        </form>
                    </li>
                }
            </ul>
        </div>
    </section>
</main>
