@model Topic
@{
    ViewData["Title"] = Model.Title;
}
<main>
    <section class="text-center">
        <h1>@Model.Title</h1>
        <p>@Model.Content</p>
        <p>@Model.User.Username</p>
        <p>@Model.Posts.Count</p>
    </section>
    <section>
        <div class="table-bordered">
            <ul class="navbar-nav flex-grow-1">
                @foreach (var post in @Model.Posts)
                {
                    <p>@post.Content</p>
                    <p>@post.User.Username</p>
                    <p>@post.Likes.Count</p>
                }
            </ul>
        </div>
    </section>
</main>
@if (User.Identity.IsAuthenticated)
{
    <footer>
        <section>
            <div>
                <form method="post" asp-action="Comment" asp-controller="Topics">
                    <input type="hidden" name="topicId" value="@Model.Id" />
                    <input type="hidden" name="categoryName" value="@Model.Category.Name" />

                    <div>
                        <label>Комментарий:</label>
                        <textarea name="content"></textarea>
                        <div class="error-message" asp-validation-summary="All"></div>
                    </div>

                    <div>
                        <input type="submit" value="Создать" />
                    </div>
                </form>
            </div>
        </section>
    </footer>
}
